$TTL 86400
 @   IN  SOA     ns1.sysadmin-047.com. root.sysadmin-047.com. (
 # You can use any numerical values for serial number but it is recommended to use [YYYYMMDDnn]
         2019112201  ;Serial
         3600        ;Refresh
         1800        ;Retry
         604800      ;Expire
         86400       ;Minimum TTL
)
         # Set your Name Servers here
         IN  NS      ns1.sysadmin-047.com.
         IN  NS      root.sysadmin-047.com.
         # define Name Server's IP address
         IN  A       192.168.147.11
         # Set your Mail Exchanger (MX) Server here
         IN  MX 10   dns1.sysadmin-047.com.

# Set each IP address of a hostname. Sample A records.
60160047-mgn                 IN      A       192.168.147.11
60160047-01                   IN      A       192.168.147.12
60160047-02                   IN      A       192.168.147.80
60160047-03                   IN      A       192.168.147.81
60160047-04                   IN      A       192.168.147.82
www                         IN      CNAME   server-01
WEB-01                      IN      CNAME   server-02
WEB-02                      IN      CNAME   server-03
